@page "/attendance"

<h3>Asistencia</h3>

<select class="form-control form-control-sm" name="Estatus" id="status" @onclick="AttendanceGetData_Click" @bind-value="Month" @bind-value:event="oninput">
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
</select>

<select class="form-control form-control-sm" name="Estatus" id="status" @onclick="AttendanceGetData_Click" @bind-value="Year" @bind-value:event="oninput">
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
</select>

@if (Employees == null || Attendances == null || AttendanceTypes == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">Empleado</th>

                @for (int i = 1; i <= Days; i++)
                {
                    <th scope="col">@i</th>
                }

            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="col"></th>

                @for (int i = 1; i <= Days; i++)
                {
                    <th scope="col">
                        @*@(new DateTime(Convert.ToInt32(Year), Convert.ToInt32(Month), i).DayOfWeek)*@
                        Mierco
                    </th>
                }

            </tr>


            @foreach (var attendance in AttendancesViewModel)
            {
                <tr>
                    <th scope="row">@attendance.EmployeeName</th>

                    @for (int i = 1; i < attendance.Attendance.Length; i++)
                    {

                        int iDay = i;
                        <td>
                            @*<input type="text" class="form-control form-control-sm" @onblur="(() => SaveAttenndace_Click(attendance, Convert.ToInt32(Year), Convert.ToInt32(Month), iDay))" @bind-value="attendance.Attendance[iDay]" @bind-value:event="oninput" />*@

                            <select class="form-control form-control-sm" name="AttendanceType" id="attendanceTypeId" @bind-value="attendance.Attendance[iDay]" @bind-value:event="oninput" @onchange="(() => SaveAttenndace_Click(attendance, Convert.ToInt32(Year), Convert.ToInt32(Month), iDay))">
                                @foreach (var attendanceType in AttendanceTypes)
                                {
                                    <option value="@attendanceType.AttendanceTypeId">@attendanceType.ShortDescription</option>
                                }
                            </select>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}